body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300; /* Light */
  margin: 0;
  padding: 0;
  background: linear-gradient(269deg, #1B4B5B 10%, #192B33 100%);
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
  height: 100vh; /* Define a altura da tela como 100% da viewport height */
}

.container {
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
}

.barra {
  height: 50px;
  background-size: contain;
  margin: 0 auto; /* Centraliza a barra horizontalmente */
}

.conteudo {
  display: flex;
}

.lado-esquerdo {
  flex: 1;
  padding: 20px;
  text-align: left;
  margin-right: 20px;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 280px;
  margin-bottom: 20px;
}

.copy {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

form {
  width: 100%;
  margin-top: auto;
}

label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.lado-direito {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
}

.copy-direita {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

.mensagem {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}

#agradecimento {
  display: none;
}
