body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: linear-gradient(269deg, #1B4B5B 10%, #192B33 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
}

.barra {
  height: 50px;
  background-size: contain;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  justify-content: center;
}

.lado-esquerdo {
  flex: 2;
  padding: 20px;
  text-align: left;
  margin-right: 20px;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 280px;
  margin-bottom: 20px;
}

.copy {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

form {
  width: 100%;
  margin-top: auto;
}

label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.lado-direito {
  flex: 2;
  padding: 20px;
  margin-left: 20px;
  color: aliceblue;
}

.copy-direita {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

#agradecimento {
  display: none;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
    overflow-y: auto;
  }

  .conteudo {
    flex-direction: column;
  }

  .lado-esquerdo,
  .lado-direito {
    flex: none;
    margin: 0;
  }

  .lado-esquerdo {
    order: 1;
  }

  .lado-direito {
    order: 2;
  }

  .barra {
    display: none;
  }
}

